<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android"
        tools:targetApi="31">
        <activity
            android:name=".RecyclerViewPager"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FragmenMainTab"
            android:exported="false">
        </activity>
        <activity
            android:name=".FragAcitivity"
            android:exported="false"/>
        <activity
            android:name=".RecyclerView"
            android:exported="false" />
        <activity
            android:name=".Spinner"
            android:exported="false" />
        <activity
            android:name=".ServeViewBinding"
            android:exported="false" />
        <activity
            android:name=".MainViewBinding"
            android:exported="false" />
        <activity
            android:name=".RatingBar"
            android:exported="false" />
        <activity
            android:name=".SeekBar"
            android:exported="false" />
        <activity
            android:name=".ProgressBar"
            android:exported="false" />
        <activity
            android:name=".ToggleSwitch"
            android:exported="false" />
        <activity
            android:name=".CheckBox"
            android:exported="false" />
        <activity
            android:name=".RadioButton"
            android:exported="false" />
        <activity
            android:name=".EditText"
            android:exported="false" />
        <activity
            android:name=".Button_and_Stringsorce"
            android:exported="false" />
        <activity
            android:name=".Listener"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>